trigger: none

pool: nov-25-pool

stages:
  - stage: terraformInit
    displayName: Terraform Init Stage
    jobs:
      - job: Init
        displayName: init job
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Terraform version is:"
              terraform -v
              Write-Host "Tfsec version is:"
              tfsec -v
              Write-Host "Tflint version is:"
              tflint --version
              Write-Host "Checkov version is:"
              checkov --version