trigger: none
variables:
- group: New variable group 24-Dec

pool: nov-25-pool



stages:
  - stage: ScanStage
    displayName: Stage-Scanning
    jobs:
      - job: ScanJob
        displayName: tflint+checkov+tfsec
        steps:
        - task: PowerShell@2
          continueOnError: true
          displayName: Task-tflint
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Tflint is in progress"
              New-Item -ItemType Directory -Force -Path scan-results\tflint
              tflint --recursive --format junit > scan-results\tflint\tflint.json        
        - task: PowerShell@2
          continueOnError: true
          displayName: Task-tfsec
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Tfscan is in progress"
              New-Item -ItemType Directory -Force -Path scan-results\tfsec
              tfsec . --format junit --out scan-results\tfsec\tfsec.json
        - task: PowerShell@2
          displayName: Task-fmt
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "fmt is in progress"
              terraform fmt -check -recursive             
              
        - task: PowerShell@2
          displayName: Task-validate
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "validate is in progress"              
              terraform validate
        - task: PublishBuildArtifacts@1
          displayName: Publish Scan Artifacts
          inputs:
            PathtoPublish: 'scan-results'
            ArtifactName: 'ScanResults'
            publishLocation: 'Container'

  - stage: InitPlanStage
    displayName: Stage-Init&Plan
    # dependsOn: ScanStage
    jobs:
      - job: JobInitPlan
        displayName: Job-Init-Plan
        steps:
        - task: TerraformTask@5
          displayName: Task- INIT
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
            backendServiceArm: 'dec25'
            backendAzureRmStorageAccountName: 'stg31211212'
            backendAzureRmContainerName: 'stgcont1'
            backendAzureRmKey: 'stg.tfstate'
        - task: TerraformTask@5
          displayName: Task-Plan
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
            environmentServiceNameAzureRM: 'dec25'
            commandOptions: '-out=tfplan'
        - task: PowerShell@2
          displayName: Convert tfplan to JSON
          inputs:
            targetType: 'inline'
            script: |
              terraform show -json tfplan > tfplan.json
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'

        - task: PowerShell@2
          displayName: Convert Plan to Text
          inputs:
            targetType: 'inline'
            script: |
              terraform show -no-color tfplan > tfplan.txt
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'

        - task: PublishBuildArtifacts@1
          displayName: Publish Terraform Plan
          inputs:
            PathtoPublish: '$(System.DefaultWorkingDirectory)/environments/dev/tfplan'
            ArtifactName: 'TerraformPlan'
            publishLocation: 'Container'
        - task: PowerShell@2
          displayName: Run Infracost (Agent Tool)
          inputs:
            targetType: 'inline'
            script: |
              C:\agent\_work\_tool\infracost\infracost.exe --version
            workingDirectory: '$(System.DefaultWorkingDirectory)'


        - task: PowerShell@2
          displayName: Run Infracost
          env:
            INFRACOST_API_KEY: $(INFRACOST_API_KEY)
          inputs:
            targetType: 'inline'
            script: |
              New-Item -ItemType Directory -Force -Path scan-results\infracost

              infracost breakdown `
                --path tfplan.json `
                --format json `
                --out-file scan-results\infracost\infracost.json
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'

        

  # - stage: ManualValidation
  #   dependsOn: InitPlanStage
  #   displayName: Manual Validation Stage
  #   pool: server
  #   jobs:
  #     - job: ManualValidationJob
  #       displayName: Manual validation Job
  #       steps:
  #       - task: ManualValidation@1
  #         inputs:
  #           notifyUsers: |
  #             sunnyknt4@outlook.com
  #             sunnyknt4@gmail.com
  #           approvers: 'sunnyknt4@outlook.com'
  #           instructions: 'Kindly review plan and approve'

  # - stage: ApplyStage
  #   displayName: Apply Stage
  #   dependsOn: ManualValidation
  #   jobs:
  #     - job: ApplyJob
  #       steps:
  #       # - task: DownloadPipelineArtifact@2
  #       #   displayName: Download Plan artifacts
  #       #   inputs:
  #       #     buildType: 'current'
  #       #     artifactName: 'TerraformPlan'
  #       #     targetPath: '$(System.DefaultWorkingDirectory)/environments/dev'
  #       - task: DownloadBuildArtifacts@1
  #         inputs:
  #           buildType: 'current'
  #           downloadType: 'single'
  #           artifactName: 'TerraformPlan'
  #           downloadPath: '$(System.DefaultWorkingDirectory)/environments/dev'
        
  #       - task: TerraformTask@5
  #         displayName: Task- INIT
  #         inputs:
  #           provider: 'azurerm'
  #           command: 'init'
  #           workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
  #           backendServiceArm: 'dec25'
  #           backendAzureRmStorageAccountName: 'stg31211212'
  #           backendAzureRmContainerName: 'stgcont1'
  #           backendAzureRmKey: 'stg.tfstate'

  #       - task: TerraformTask@5
  #         displayName: Task-Apply
  #         inputs:
  #           provider: 'azurerm'
  #           command: 'apply'
  #           workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
  #           environmentServiceNameAzureRM: 'dec25'
  #           commandOptions: 'TerraformPlan/tfplan'
      