trigger: none

pool: nov-25-pool

stages:
  - stage: terraformInit
    displayName: Terraform Init Stage
    jobs:
      - job: Init
        displayName: init job
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              terraform -v
              tfsec -v
              tflint --version