trigger: none

pool: nov-25-pool

stages:
  - stage: ScanStage
    displayName: Stage-Scanning
    jobs:
      - job: ScanJob
        displayName: Job-Scan
        steps:
        - task: PowerShell@2
          continueOnError: true
          displayName: Task-tflint
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Tflint is in progress"
              New-Item -ItemType Directory -Force -Path scan-results\tflint
              tflint --recursive --format junit > scan-results\tflint\tflint.json        
        - task: PowerShell@2
          continueOnError: true
          displayName: Task-tfsec
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Tfscan is in progress"
              New-Item -ItemType Directory -Force -Path scan-results\tfsec
              tfsec . --format junit --out scan-results\tfsec\tfsec.sarif