trigger: none

pool: nov-25-pool

stages:
  - stage: ScanStage
    displayName: Stage-Scanning
    jobs:
      - job: ScanJob
        displayName: Job-Scan
        steps:
        - task: PowerShell@2
          continueOnError: true
          displayName: Task-tflint
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Tflint is in progress"
              tflint --recursive        
        - task: PowerShell@2
          continueOnError: true
          displayName: Task-tfsec
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Tfscan is in progress"
              tfsec .