trigger: none

pool: nov-25-pool

stages:
  - stage: ScanStage
    displayName: Stage-Scanning
    jobs:
      - job: ScanJob
        displayName: tflint+checkov+tfsec
        steps:
        - task: PowerShell@2
          continueOnError: true
          displayName: Task-tflint
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Tflint is in progress"
              New-Item -ItemType Directory -Force -Path scan-results\tflint
              tflint --recursive --format junit > scan-results\tflint\tflint.json        
        - task: PowerShell@2
          continueOnError: true
          displayName: Task-tfsec
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Tfscan is in progress"
              New-Item -ItemType Directory -Force -Path scan-results\tfsec
              tfsec . --format junit --out scan-results\tfsec\tfsec.json
        - task: PowerShell@2
          displayName: Task-fmt
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "fmt is in progress"
              terraform fmt -check -recursive             
              
        - task: PowerShell@2
          displayName: Task-validate
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "validate is in progress"              
              terraform validate
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: 'scan-results'
            ArtifactName: 'ScanResults'
            publishLocation: 'Container'

        

  # - stage: 
  #   displayName: Stage-Init&Plan
  #   jobs:
  #     - job: JobInitPlan
  #       displayName: Job-Init-Plan
  #       steps:
  #       - task: TerraformTask@5
  #         inputs:
  #           provider: 'azurerm'
  #           command: 'init'
  #           workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
  #           backendServiceArm: 'dec25'
  #           backendAzureRmStorageAccountName: 'stg31211212'
  #           backendAzureRmContainerName: 'stgcont1'
  #           backendAzureRmKey: 'stg.tfstate'