trigger: none

pool: nov-25-pool

stages:
  - stage: ScanStage
    displayName: Stage-Scanning
    jobs:
      - job: ScanJob
        displayName: Job-Scan
        steps:
        - task: PowerShell@2
          displayName: Task-tflint
          inputs:
            targetType: 'inline'
            script: 'tflint --recursive'